<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.ensoul.validator</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/<USER>/ensoul/scripts/validator-launchd-wrapper.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/<USER>/.ensoul/validator-wrapper.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/<USER>/.ensoul/validator-wrapper.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/bin:/bin:/Users/<USER>/go/bin:/Users/<USER>/.nvm/versions/node/v22.22.0/bin</string>
        <key>HOME</key>
        <string>/Users/<USER></string>
        <key>NVM_DIR</key>
        <string>/Users/<USER>/.nvm</string>
    </dict>
</dict>
</plist>
